/*Profiles*/

.profile {
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

.profile-info {
    margin-left: 10px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 23px;
    object-fit: cover;
}

.profile-name {
    font-size: 26px;
}
